.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.989000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.041000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.947000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.946000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.700000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{margin-left:-2.697445px;}
._0{margin-left:-1.334473px;}
._1{width:1.129322px;}
._8{width:5.663997px;}
._5{width:33.199218px;}
._6{width:42.922479px;}
._9{width:69.283985px;}
._3{width:83.475992px;}
._a{width:91.559270px;}
._4{width:131.548000px;}
._7{width:133.396000px;}
.fc2{color:rgb(67,67,67);}
.fc1{color:rgb(17,85,204);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:36.000000px;}
.fs5{font-size:39.999999px;}
.fs3{font-size:44.000001px;}
.fs2{font-size:52.000002px;}
.fs4{font-size:55.999998px;}
.fs0{font-size:88.000002px;}
.y0{bottom:0.000000px;}
.y2b{bottom:40.276992px;}
.y80{bottom:45.828810px;}
.y53{bottom:51.248120px;}
.y2a{bottom:55.697280px;}
.y7f{bottom:61.249215px;}
.y29{bottom:71.117629px;}
.y7e{bottom:76.669380px;}
.y52{bottom:78.668530px;}
.y28{bottom:86.538040px;}
.y7d{bottom:92.089790px;}
.y51{bottom:94.088819px;}
.y27{bottom:101.958319px;}
.y7c{bottom:107.510199px;}
.y50{bottom:109.509230px;}
.y26{bottom:117.378730px;}
.y7b{bottom:122.930610px;}
.y4f{bottom:124.929632px;}
.y25{bottom:132.799082px;}
.y7a{bottom:138.351020px;}
.y4e{bottom:140.349920px;}
.y24{bottom:148.219370px;}
.y79{bottom:153.771430px;}
.y4d{bottom:155.770332px;}
.y78{bottom:169.191600px;}
.y4c{bottom:171.190619px;}
.y23{bottom:175.205867px;}
.y77{bottom:185.479720px;}
.y4b{bottom:186.611030px;}
.y22{bottom:189.224421px;}
.y76{bottom:202.836130px;}
.y4a{bottom:214.031442px;}
.y21{bottom:215.242910px;}
.y75{bottom:218.256300px;}
.y49{bottom:229.451730px;}
.y20{bottom:229.695260px;}
.y74{bottom:233.676710px;}
.y73{bottom:249.097120px;}
.y1f{bottom:250.417120px;}
.y48{bottom:256.872020px;}
.y72{bottom:264.517530px;}
.y1e{bottom:269.609182px;}
.y71{bottom:279.937940px;}
.y47{bottom:284.292430px;}
.y70{bottom:295.358350px;}
.y46{bottom:299.712722px;}
.y1d{bottom:300.965560px;}
.y6f{bottom:310.778510px;}
.y45{bottom:315.133010px;}
.y1c{bottom:316.385940px;}
.y6e{bottom:326.198920px;}
.y44{bottom:330.553419px;}
.y1b{bottom:331.806220px;}
.y6d{bottom:341.619330px;}
.y43{bottom:345.973830px;}
.y1a{bottom:347.226600px;}
.y6c{bottom:357.039500px;}
.y42{bottom:361.394109px;}
.y19{bottom:362.646980px;}
.y6b{bottom:372.459909px;}
.y41{bottom:376.814520px;}
.y18{bottom:378.067270px;}
.y6a{bottom:387.880320px;}
.y40{bottom:392.234810px;}
.y17{bottom:393.487650px;}
.y69{bottom:403.300490px;}
.y3f{bottom:407.655221px;}
.y16{bottom:408.908000px;}
.y68{bottom:418.720900px;}
.y15{bottom:424.328350px;}
.y67{bottom:434.141310px;}
.y3e{bottom:434.641776px;}
.y14{bottom:440.616410px;}
.y3d{bottom:448.660210px;}
.y66{bottom:449.561589px;}
.y13{bottom:457.972760px;}
.y3c{bottom:462.678760px;}
.y65{bottom:464.982000px;}
.y12{bottom:473.393070px;}
.y3b{bottom:476.697201px;}
.y64{bottom:480.402420px;}
.y11{bottom:488.813452px;}
.y3a{bottom:491.149490px;}
.y63{bottom:495.822700px;}
.y10{bottom:504.233802px;}
.y39{bottom:506.569900px;}
.y62{bottom:511.243110px;}
.yf{bottom:519.654121px;}
.y61{bottom:526.663525px;}
.y38{bottom:533.652099px;}
.ye{bottom:535.074500px;}
.y60{bottom:542.083690px;}
.y37{bottom:548.308528px;}
.yd{bottom:550.494850px;}
.y5f{bottom:557.504100px;}
.y36{bottom:562.422669px;}
.yc{bottom:566.782900px;}
.y5e{bottom:572.924510px;}
.y35{bottom:577.079035px;}
.yb{bottom:583.271550px;}
.y5d{bottom:588.344679px;}
.y34{bottom:591.193239px;}
.ya{bottom:596.755900px;}
.y5c{bottom:603.765090px;}
.y33{bottom:605.849541px;}
.y9{bottom:612.176250px;}
.y5b{bottom:619.185496px;}
.y32{bottom:619.963745px;}
.y8{bottom:627.596600px;}
.y5a{bottom:634.605784px;}
.y7{bottom:643.016948px;}
.y31{bottom:646.620051px;}
.y59{bottom:650.026194px;}
.y6{bottom:658.437304px;}
.y30{bottom:660.638605px;}
.y58{bottom:665.446605px;}
.y5{bottom:674.725341px;}
.y57{bottom:680.866893px;}
.y2f{bottom:687.090953px;}
.y4{bottom:691.213995px;}
.y56{bottom:696.287303px;}
.y2e{bottom:702.511302px;}
.y3{bottom:703.830648px;}
.y55{bottom:711.707713px;}
.y2{bottom:716.447302px;}
.y2d{bottom:717.931712px;}
.y54{bottom:727.995590px;}
.y1{bottom:734.704000px;}
.y2c{bottom:745.352000px;}
.h8{height:29.879999px;}
.h2{height:30.312000px;}
.ha{height:30.800001px;}
.h9{height:32.868001px;}
.h7{height:33.679999px;}
.h5{height:34.628001px;}
.h4{height:37.048001px;}
.h6{height:39.199999px;}
.h3{height:40.924002px;}
.h1{height:69.256002px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x2{left:36.000000px;}
.x4{left:54.000000px;}
.x5{left:72.000000px;}
.x1{left:180.000000px;}
.x3{left:594.150008px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{margin-left:-3.596593pt;}
._0{margin-left:-1.779298pt;}
._1{width:1.505763pt;}
._8{width:7.551996pt;}
._5{width:44.265624pt;}
._6{width:57.229972pt;}
._9{width:92.378647pt;}
._3{width:111.301323pt;}
._a{width:122.079027pt;}
._4{width:175.397333pt;}
._7{width:177.861333pt;}
.fs1{font-size:48.000000pt;}
.fs5{font-size:53.333332pt;}
.fs3{font-size:58.666668pt;}
.fs2{font-size:69.333336pt;}
.fs4{font-size:74.666664pt;}
.fs0{font-size:117.333336pt;}
.y0{bottom:0.000000pt;}
.y2b{bottom:53.702656pt;}
.y80{bottom:61.105080pt;}
.y53{bottom:68.330827pt;}
.y2a{bottom:74.263040pt;}
.y7f{bottom:81.665620pt;}
.y29{bottom:94.823506pt;}
.y7e{bottom:102.225840pt;}
.y52{bottom:104.891373pt;}
.y28{bottom:115.384053pt;}
.y7d{bottom:122.786387pt;}
.y51{bottom:125.451759pt;}
.y27{bottom:135.944426pt;}
.y7c{bottom:143.346932pt;}
.y50{bottom:146.012307pt;}
.y26{bottom:156.504973pt;}
.y7b{bottom:163.907480pt;}
.y4f{bottom:166.572843pt;}
.y25{bottom:177.065443pt;}
.y7a{bottom:184.468027pt;}
.y4e{bottom:187.133227pt;}
.y24{bottom:197.625827pt;}
.y79{bottom:205.028573pt;}
.y4d{bottom:207.693776pt;}
.y78{bottom:225.588800pt;}
.y4c{bottom:228.254159pt;}
.y23{bottom:233.607822pt;}
.y77{bottom:247.306293pt;}
.y4b{bottom:248.814707pt;}
.y22{bottom:252.299228pt;}
.y76{bottom:270.448173pt;}
.y4a{bottom:285.375256pt;}
.y21{bottom:286.990547pt;}
.y75{bottom:291.008400pt;}
.y49{bottom:305.935640pt;}
.y20{bottom:306.260347pt;}
.y74{bottom:311.568947pt;}
.y73{bottom:332.129493pt;}
.y1f{bottom:333.889493pt;}
.y48{bottom:342.496027pt;}
.y72{bottom:352.690040pt;}
.y1e{bottom:359.478909pt;}
.y71{bottom:373.250587pt;}
.y47{bottom:379.056573pt;}
.y70{bottom:393.811133pt;}
.y46{bottom:399.616963pt;}
.y1d{bottom:401.287413pt;}
.y6f{bottom:414.371347pt;}
.y45{bottom:420.177347pt;}
.y1c{bottom:421.847920pt;}
.y6e{bottom:434.931893pt;}
.y44{bottom:440.737892pt;}
.y1b{bottom:442.408293pt;}
.y6d{bottom:455.492440pt;}
.y43{bottom:461.298440pt;}
.y1a{bottom:462.968800pt;}
.y6c{bottom:476.052667pt;}
.y42{bottom:481.858812pt;}
.y19{bottom:483.529307pt;}
.y6b{bottom:496.613212pt;}
.y41{bottom:502.419360pt;}
.y18{bottom:504.089693pt;}
.y6a{bottom:517.173760pt;}
.y40{bottom:522.979747pt;}
.y17{bottom:524.650200pt;}
.y69{bottom:537.733987pt;}
.y3f{bottom:543.540294pt;}
.y16{bottom:545.210667pt;}
.y68{bottom:558.294533pt;}
.y15{bottom:565.771133pt;}
.y67{bottom:578.855080pt;}
.y3e{bottom:579.522368pt;}
.y14{bottom:587.488546pt;}
.y3d{bottom:598.213613pt;}
.y66{bottom:599.415452pt;}
.y13{bottom:610.630347pt;}
.y3c{bottom:616.905013pt;}
.y65{bottom:619.976000pt;}
.y12{bottom:631.190760pt;}
.y3b{bottom:635.596268pt;}
.y64{bottom:640.536560pt;}
.y11{bottom:651.751269pt;}
.y3a{bottom:654.865987pt;}
.y63{bottom:661.096933pt;}
.y10{bottom:672.311736pt;}
.y39{bottom:675.426533pt;}
.y62{bottom:681.657480pt;}
.yf{bottom:692.872161pt;}
.y61{bottom:702.218034pt;}
.y38{bottom:711.536132pt;}
.ye{bottom:713.432667pt;}
.y60{bottom:722.778253pt;}
.y37{bottom:731.078037pt;}
.yd{bottom:733.993133pt;}
.y5f{bottom:743.338800pt;}
.y36{bottom:749.896892pt;}
.yc{bottom:755.710533pt;}
.y5e{bottom:763.899347pt;}
.y35{bottom:769.438713pt;}
.yb{bottom:777.695400pt;}
.y5d{bottom:784.459572pt;}
.y34{bottom:788.257652pt;}
.ya{bottom:795.674533pt;}
.y5c{bottom:805.020120pt;}
.y33{bottom:807.799388pt;}
.y9{bottom:816.235000pt;}
.y5b{bottom:825.580661pt;}
.y32{bottom:826.618327pt;}
.y8{bottom:836.795467pt;}
.y5a{bottom:846.141045pt;}
.y7{bottom:857.355931pt;}
.y31{bottom:862.160068pt;}
.y59{bottom:866.701592pt;}
.y6{bottom:877.916405pt;}
.y30{bottom:880.851473pt;}
.y58{bottom:887.262140pt;}
.y5{bottom:899.633788pt;}
.y57{bottom:907.822524pt;}
.y2f{bottom:916.121271pt;}
.y4{bottom:921.618660pt;}
.y56{bottom:928.383071pt;}
.y2e{bottom:936.681736pt;}
.y3{bottom:938.440864pt;}
.y55{bottom:948.943617pt;}
.y2{bottom:955.263069pt;}
.y2d{bottom:957.242283pt;}
.y54{bottom:970.660786pt;}
.y1{bottom:979.605333pt;}
.y2c{bottom:993.802667pt;}
.h8{height:39.839999pt;}
.h2{height:40.416000pt;}
.ha{height:41.066668pt;}
.h9{height:43.824001pt;}
.h7{height:44.906666pt;}
.h5{height:46.170668pt;}
.h4{height:49.397334pt;}
.h6{height:52.266665pt;}
.h3{height:54.565335pt;}
.h1{height:92.341335pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x2{left:48.000000pt;}
.x4{left:72.000000pt;}
.x5{left:96.000000pt;}
.x1{left:240.000000pt;}
.x3{left:792.200010pt;}
}
